@CHARSET "UTF-8";

.myinfo-intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbXbR0u0AqDizN_EwQCpBN0NCWngbQRXGNo3rHQ94N4v8mbUwX8A) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    
}
.myinfo-intro .myinfo-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
@media(min-width:768px) {
	.myinfo-intro{
        height: 30rem;
        padding: 0;
    }
    .myinfo-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
