form {
    border: 2px solid #f1f1f1;
}
body{
        font-size: 1.5em;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #0096ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    height:150px;
    border-radius: 50%;
    background-color: #f1f1f1;
}

.bottom-container {
    padding: 16px;
}

span.psw {
    font-size: 1.2rem
}
.component-right{
    float:right;
    display:inline-block;
}
@media (max-width:338px){
    span.psw {
        display: block;
        text-align:center;
    }
    .component-right{
        float:none;
        display:block;
        text-align:center;
    }   
}
